/* RESET */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}




/* A TAG BASIC STALING */


a {
    color: var(--pimery_color);
    text-decoration: none;
    
}


/* VARIABLES */


:root {
    --pimery_color: #fff;
    --accent: #FBD784; 
}



/* BODY */

body {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: var(--pimery_color);
    background: url(../img/jpg/bg.jpg) no-repeat center top ;
    background-color: #0B1D26;
    background-size: 100% auto;
}




/* HEADER */

.header {
 
    /* border: 1px transparent solid; */
    /* overflow: auto; */
    /* padding-top: 1px; */
    /* margin-top: -1px; */

}   



/* NAVIGATION ROW */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 64px;   
}


.navigation a {
    transition: color 200ms linear;
}

.navigation a:hover {
    color: var(--accent);
    
}


.logo {
    font-family: 'Playfair Display', sans-serif;
    font-size: 32px;
}

.logo .letters {
   display: inline-block;
   transition: transform 400ms linear;
   cursor: default;
}

.logo .letters:hover {
    transform: translateY(-10px);
}


.nav  ul{
    display: flex;
    
}

.nav ul li {
    list-style: none;
    margin-right: 40px;
    position: relative;

    
}

.nav ul li:first-child{
    
    animation-name: falling;
    animation-duration: 2000ms;
  
}

.nav ul li:nth-child(2) {
    animation-name: falling;
    animation-duration: 2000ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;

}


.nav ul li:last-child {
   
    margin-right: none;
    animation-name: falling;
    animation-duration: 2000ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    opacity: 0;
    
}



@keyframes falling {
    0% {top: -500px; opacity: 1;}
    100% { top: 0px; opacity: 1;}
}








.account {
    display: flex;
    align-items: end;
}

.account_logo{
    margin-right: 8px;
}




/* WELCOMING BANNER */



.welcomeing {
    
    display: block;
    margin: 0 auto;
    margin-top: 299px;
    max-width: 950px;
    cursor: default;
    transition: transform 400ms ease-in-out;
   
}




.welcomeing:hover{
   
    transform: translateY(-10%);

    
}





.welcomeing_text {
    position: relative;
    font-size: 18px;
    line-height: 1.222;
    color: var(--accent);
    margin-bottom: 32px;
    padding-left: 104px;
}

.welcomeing_text::before {
    position: absolute;
    left: 0;
    top: 50%;  
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: var(--accent);
    /* border: 1px solid var(--accent); */
}

.welcoming_heading {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 88px;
    line-height: 1.16;
    margin-bottom: 32px;
    text-transform: capitalize;
}
.scroll {
   display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 1.1;
    padding-right: 32px;
}

.scroll::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
    background-image: url("../img/svg/arrow_down.png");
}










/* MAIN */



.main{
     
    /* margin: 600px 229px 0px; */
    margin: 0 229px;
    margin-top: 743px;


}




.article {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
    margin-bottom: 200px;
    
}


/* .reverse {
   
   flex-direction: row-reverse;
} */



.article:nth-child(even){
    flex-direction: row-reverse;
}





.article_about {
    max-width: 632px;
    margin: 140px 0 140px 150px;
    position: relative;
    

}

.article_count {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.151);
    
    position: absolute;
    top: -103px;
    left: -150px;
}


.short_about {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 1.12;
    text-transform: uppercase;
    color: var(--accent);
    padding-left: 96px;

}

.short_about::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color:var(--accent);
    transform: translateY(-50%);

}


.heading {
    max-width: 555px;
    font-family: 'Playfair Display';
    font-weight: 800;
    font-style: normal;
    font-size: 64px;
    line-height: 1.3;
    margin: 20px 0; 
}
.article_text {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 27px;
}
.read_more {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    color: var(--accent);
}

.read_more::after {
    display: block;
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(../img/svg/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
}


.read_more:hover::after {
  
    animation-name: readMore;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;

}

@keyframes readMore {
    0% { right: -30px}
    100% { right: -50px;}
}


.article_img {
    max-width: 566px;
}





/* Test */

.test {
    width: 500px;
    height: 500px;
    background-color: #fff;
}

.transl {
    width: 50px;
    height: 50px;
    background-color: green;
    transform: translatey(100%);
}
span{
    display: inline-block;
}
/* span:hover {

    transform: translateY(-15%);
} */

